// http://mcg.mbitson.com/
$frontend-primary-palette: (
	// #e45c34
	50: #ffffff,
	100: #fae2db,
	200: #f4baa9,
	300: #eb876a,
	400: #e8724f,
	500: #e45c34,
	600: #dc491d,
	700: #c1401a,
	800: #a63716,
	900: #8b2e13,
	A100: #ffffff,
	A200: #ffc3b2,
	A400: #f77954,
	A700: #ec6b45,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
$frontend-accent-palette: (
	// #ff5a64
	50: #ffffff,
	100: #ffffff,
	200: #ffdfe1,
	300: #ff979d,
	400: #ff7981,
	500: #ff5a64,
	600: #ff3b47,
	700: #ff1d2a,
	800: #fd000f,
	900: #df000d,
	A100: #ffffff,
	A200: #fff3f4,
	A400: #ff8d94,
	A700: #ff737c,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
$frontend-warn-palette: (
	50: #fde1e5,
	100: #fab3be,
	200: #f78092,
	300: #f34d66,
	400: #f12746,
	500: #ee0125,
	600: #ec0121,
	700: #e9011b,
	800: #e70116,
	900: #e2000d,
	A100: #ffffff,
	A200: #ffd6d7,
	A400: #ffa3a5,
	A700: #ff8a8c,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
