<!-- From example (https://retejs.org/examples/customization/angular) -->

<div class="title">{{ data.label }}</div>

<div *ngFor="let output of data.outputs | keyvalue" class="output">
	<div class="output-title">
		{{ output.value?.label }}
	</div>
	<div
		class="output-socket"
		refComponent
		[data]="{
			type: 'socket',
			side: 'output',
			key: output.key,
			nodeId: data.id,
			payload: output.value?.socket,
			seed: seed
		}"
		[emit]="emit"
	></div>
</div>

<div
	*ngFor="let control of data.controls | keyvalue"
	class="control"
	refComponent
	[data]="{ type: 'control', payload: control.value }"
	[emit]="emit"
></div>

<div *ngFor="let input of data.inputs | keyvalue" class="input">
	<div
		class="input-socket"
		refComponent
		[data]="{
			type: 'socket',
			side: 'input',
			key: input.key,
			nodeId: data.id,
			payload: input.value?.socket,
			seed: seed
		}"
		[emit]="emit"
	></div>

	<div *ngIf="!input.value?.control || !input.value?.showControl" class="input-title">
		{{ input.value?.label }}
	</div>

	<div
		class="input-control"
		refComponent
		[data]="{ type: 'control', payload: input.value?.control }"
		[emit]="emit"
		[style.display]="input.value?.control && input.value?.showControl ? '' : 'none'"
	></div>
</div>
